header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
  a {
    text-transform: uppercase;
    color: #555;
  }
  .menu {
    display: none;
  }
  .logo {
    flex: 1;
  }
  ul {
    li {
      display: inline-block;
      opacity: 0.7;
      padding: 0 20px;
      &:hover {
        opacity: 1;
      }
      img {
        display: none;
      }
    }
  }
  .cart-icon {
    position: relative;
    margin-right: 20px;
    span {
      background: crimson;
      border-radius: 20px;
      color: white;
      position: absolute;
      top: -10px;
      right: -5px;
      padding: 5px 7px;
      font-size: 10px;
    }
  }
}
@media (max-width: 820px) {
  header {
    .logo {
      min-width: 115px;
      flex: none;
    }
    ul {
      padding: 10px 0;
    }
  }
}
@media (max-width: 720px) {
  header {
    justify-content: space-between;
    ul {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0.98;
      z-index: 99;
      transition: 0.5s ease-in;
      li .menu {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .menu {
      display: block;
      cursor: pointer;
    }
  }
}

@media (max-width: 570px) {
  .filter-menu {
    .row {
      span {
        display: none;
      }
    }
  }
}
